<table id="example1" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>No.</th>
      <th>Kategori</th>
      <th>Judul</th>
      <th>Admin</th>
      <th>Aksi</th>
    </tr>
  </thead>
  <tbody>
    <!-- <%# for(let i = 0; i < kls.length; i++) { %>
    <tr>
      <td><%#= i + 1 %></td>
      <td><%#= kls[i].nama %></td>
      <td><%#= kls[i].nama %></td>
      <td><%#= kls[i].nama %></td>
      <td>
        <form action="/kelas/hapus/<%#= kls[i].id %>?_method=DELETE" method="post">
          <a href="/kelas/edit/<%#= kls[i].id %>" class="btn btn-info btn-sm">
            <i class="fas fa-pencil-alt"></i>
            Ubah
          </a>
          <a
            href="javascript:void()"
            type="button"
            class="btn btn-danger btn-sm button-delete"
            data-id="<%#= kls[i].id %>"
          >
            <i class="fas fa-trash-alt"></i>
            Hapus
          </a>
        </form>
      </td>
    </tr>
    <%# } %> -->
    <!-- <tr>
      <td>1</td>
      <td>Mahdy M</td>
      <td>mubasyir19</td>
      <td>SuperAdmin</td>
      <td>
        <span class="badge badge-success"> Aktif </span>
      </td>
      <td>
        <form action="/kelas/hapus/<%#= kls[i].id %>?_method=DELETE" method="post">
          <a href="/kelas/edit/<%#= kls[i].id %>" class="btn btn-info btn-sm">
            <i class="fas fa-pencil-alt"></i>
            Ubah
          </a>
          <a
            href="javascript:void()"
            type="button"
            class="btn btn-danger btn-sm button-delete"
            data-id="<%#= kls[i].id %>"
          >
            <i class="fas fa-trash-alt"></i>
            Hapus
          </a>
        </form>
      </td>
    </tr>
    <tr>
      <td>2</td>
      <td>Fulan 1</td>
      <td>fulan1</td>
      <td>Admin</td>
      <td>
        <span class="badge badge-success"> Aktif </span>
      </td>
      <td>
        <form action="/kelas/hapus/<%#= kls[i].id %>?_method=DELETE" method="post">
          <a href="/kelas/edit/<%#= kls[i].id %>" class="btn btn-info btn-sm">
            <i class="fas fa-pencil-alt"></i>
            Ubah
          </a>
          <a
            href="javascript:void()"
            type="button"
            class="btn btn-danger btn-sm button-delete"
            data-id="<%#= kls[i].id %>"
          >
            <i class="fas fa-trash-alt"></i>
            Hapus
          </a>
        </form>
      </td>
    </tr>
    <tr>
      <td>3</td>
      <td>Fulan 2</td>
      <td>fulan2</td>
      <td>Admin</td>
      <td>
        <span class="badge badge-danger"> Non-Aktif </span>
      </td>
      <td>
        <form action="/kelas/hapus/<%#= kls[i].id %>?_method=DELETE" method="post">
          <a href="/kelas/edit/<%#= kls[i].id %>" class="btn btn-info btn-sm">
            <i class="fas fa-pencil-alt"></i>
            Ubah
          </a>
          <a
            href="javascript:void()"
            type="button"
            class="btn btn-danger btn-sm button-delete"
            data-id="<%#= kls[i].id %>"
          >
            <i class="fas fa-trash-alt"></i>
            Hapus
          </a>
        </form>
      </td>
    </tr>
    <tr>
      <td>4</td>
      <td>Dokter 1</td>
      <td>dokter1</td>
      <td>Dokter</td>
      <td>
        <span class="badge badge-success"> Aktif </span>
      </td>
      <td>
        <form action="/kelas/hapus/<%#= kls[i].id %>?_method=DELETE" method="post">
          <a href="/kelas/edit/<%#= kls[i].id %>" class="btn btn-info btn-sm">
            <i class="fas fa-pencil-alt"></i>
            Ubah
          </a>
          <a
            href="javascript:void()"
            type="button"
            class="btn btn-danger btn-sm button-delete"
            data-id="<%#= kls[i].id %>"
          >
            <i class="fas fa-trash-alt"></i>
            Hapus
          </a>
        </form>
      </td>
    </tr>
    <tr>
      <td>5</td>
      <td>Dokter 2</td>
      <td>dokter2</td>
      <td>Dokter</td>
      <td>
        <span class="badge badge-success"> Aktif </span>
      </td>
      <td>
        <form action="/kelas/hapus/<%#= kls[i].id %>?_method=DELETE" method="post">
          <a href="/kelas/edit/<%#= kls[i].id %>" class="btn btn-info btn-sm">
            <i class="fas fa-pencil-alt"></i>
            Ubah
          </a>
          <a
            href="javascript:void()"
            type="button"
            class="btn btn-danger btn-sm button-delete"
            data-id="<%#= kls[i].id %>"
          >
            <i class="fas fa-trash-alt"></i>
            Hapus
          </a>
        </form>
      </td>
    </tr> -->
  </tbody>
</table>
